<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
             <div class="container has-text-centered">
                <h1 class="title">
                    What's the weather in your city?
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form action="." method="POST">
                        {% csrf_token %}
                         <div class="input-group mb-3" label="Type">
                            {{ form.city }}
                             <div class="input-group-append">
                                <button class="button is-primary" type="submit" style="color:black">Check the weather</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    {% if not weather_data %}
                        <h1>The city was not found, please try again</h1>
                    {% endif %}
                    {% for city_weather in weather_data %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ city_weather.city }}, {{ city_weather.country }}</span>
                                        <br>
                                        <span class="title">{{ city_weather.temperature }}° C</span>
                                        <br>
                                        <span class="subtitle">{{ city_weather.description }}</span>
                                        <br>
                                        <span>Real feel: {{ city_weather.feels_like }}° C</span>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
<footer class="footer">
    </footer>
    </body>

</html>